/* HERO SECTION */
#hero-container {
    margin: 10% 0;
}
.hero {
    display: flex;
    flex-direction: column;
}
/* page title */
.page-title {
    margin: 1.25em 0 1em;
    font-family: lato;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .073em;
    line-height: 1.05;
    opacity: .75;
}
/* ABOUT ME SECTION */
figure {
    border: thick #ff9d94 solid;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 20em;
    margin: 2rem 0;
}
img {
    max-width: 100%;
    border-radius: 50%;
}
@media screen and (min-width: 40rem) {
    figure {
        margin: 2rem auto;
    }
}